{{define "main"}}

<div class="mb-16 dark:bg-zinc-800 p-5 rounded-xl">
  <h2 class="text-black dark:text-white font-bold text-3xl text-center my-12">
    LATEST FROM THE BLOG
  </h2>
  <div class="grid grid-cols-1 md:grid-cols-3 lg:grid-cols-3 p-6">
    <div class="col-span-2 lg:px-12 md:px-10 px-0">
      <div class="flex flex-col-reverse divide-y divide-y-reverse">
        {{ $paginator := .Paginate (where .Site.RegularPages "Section" "blog")
        }}
        <!---->
        {{ range $paginator.Pages }}
        <div>
          <a
            href="{{.Permalink}}"
            class="shrink dark:text-zinc-200 hover:text-blue-400 hover:underline transaction-speed"
          >
            <h3 class="text-lg md:text-xl lg:text-2xl font-bold">
              <br />
              {{.Title}}
            </h3>
            {{ $content := .Content }}
            <!---->
            {{ $words := split $content " " }}
            <!---->
            {{ $excerpt := "" }}
            <!---->
            {{ range $index, $word := $words }}
            <!---->
            {{ if lt $index 40 }}
            <!---->
            {{ $excerpt = printf "%s %s" $excerpt $word }}
            <!---->
            {{ end }}
            <!---->
            {{ end }}
            <p class="pb-3 mt-5">{{ $excerpt | safeHTML }}...</p>
            <br />
          </a>
        </div>
        {{end}}
      </div>
      <ul class="flex justify-center gap-3">
        <!-- Previous page. -->
        {{ if $paginator.HasPrev }}
        <li
          class="bg-blue-400 text-white w-6 h-6 {{ if eq . $paginator }} bg-blue-600 font-bold {{ end }} p-4  hover:bg-blue-600 flex items-center transaction justify-center"
        >
          <a
            href="{{ $paginator.Prev.URL }}"
            class="pagination__link pagination__link--previous"
          >
            «
          </a>
        </li>
        {{ end }}

        <!-- Page numbers. -->
        {{ range $paginator.Pagers }}
        <li
          class="bg-blue-400 text-white w-6 h-6 {{ if eq . $paginator }} bg-blue-600 font-bold {{ end }} p-4  hover:bg-blue-600 flex items-center justify-center transaction"
        >
          <a href="{{ .URL }}"> {{ .PageNumber }} </a>
        </li>
        {{ end }}

        <!-- Next page. -->
        {{ if $paginator.HasNext }}
        <li
          class="bg-blue-400 text-white w-6 h-6 {{ if eq . $paginator }} bg-blue-600 font-bold {{ end }} p-4 hover:bg-blue-600  flex items-center justify-center transaction"
        >
          <a href="{{ $paginator.Next.URL }}"> » </a>
        </li>
        {{ end }}
      </ul>
    </div>

    <div class="col-span-1 md:col-span-1 lg:col-span-1 mb-12">
      <h2 class="text-black dark:text-white font-bold text-lg">Book Demo</h2>
      <h4 class="text-zinc-700 dark:text-zinc-300">
        Helpful articles and <br />
        resources that will help you <br />
        agree better and faster.
      </h4>
      <br />
      <a
        href="/"
        class="text-blue-400 flex gap-3 items-center hover:gap-5 transaction-speed"
        >Book Now <i class="fa-sharp fa-solid fa-arrow-right"></i
      ></a>
    </div>
  </div>
</div>
{{end}}
