{{define "main"}}

<div class="mb-16 dark:bg-zinc-800 p-5 rounded-xl">
  <h2 class="text-black dark:text-white font-bold text-3xl text-center my-12">
    LATEST FROM THE BLOG
  </h2>
  <div class="grid grid-cols-1 md:grid-cols-3 lg:grid-cols-3 p-6">
    <div class="col-span-2 lg:px-12 md:px-10 px-0">
      <div class="flex flex-col-reverse divide-y divide-y-reverse">
        <div>
          <a
            href="/1"
            class="shrink dark:text-zinc-200 hover:text-blue-400 hover:underline transaction-speed"
          >
            <h3 class="text-lg md:text-xl lg:text-2xl font-bold">
              <br />
              Thinking About Automating Your Proposal Process? Here are a Few
              Factors to Consider to Ensure Seamless Automation
            </h3>
            <p class="pb-3 mt-5">
              Automation has occupied our lives! Right from housekeeping to
              industrial activities, almost all jobs are simplified…
            </p>
            <br />
          </a>
        </div>

        <!--2-->
        <div>
          <a
            href="/1"
            class="shrink dark:text-zinc-200 hover:text-blue-400 hover:underline transaction-speed"
          >
            <h3 class="text-lg md:text-xl lg:text-2xl font-bold">
              <br />
              Thinking About Automating Your Proposal Process? Here are a Few
              Factors to Consider to Ensure Seamless Automation
            </h3>
            <p class="pb-3 mt-5">
              Automation has occupied our lives! Right from housekeeping to
              industrial activities, almost all jobs are simplified…
            </p>
            <br />
          </a>
        </div>

        <!--3-->
        <div>
          <a
            href="/1"
            class="shrink dark:text-zinc-200 hover:text-blue-400 hover:underline transaction-speed"
          >
            <h3 class="text-lg md:text-xl lg:text-2xl font-bold">
              Thinking About Automating Your Proposal Process? Here are a Few
              Factors to Consider to Ensure Seamless Automation
            </h3>
            <p class="pb-3 mt-5">
              Automation has occupied our lives! Right from housekeeping to
              industrial activities, almost all jobs are simplified…
            </p>
            <br />
          </a>
        </div>
      </div>
    </div>

    <div class="col-span-1 md:col-span-1 lg:col-span-1 mb-12">
      <h2 class="text-black dark:text-white font-bold text-lg">Book Demo</h2>
      <h4 class="text-zinc-700 dark:text-zinc-300">
        Helpful articles and <br />
        resources that will help you <br />
        agree better and faster.
      </h4>
      <br />
      <a
        href="/"
        class="text-blue-400 flex gap-3 items-center hover:gap-5 transaction-speed"
        >Book Now <i class="fa-sharp fa-solid fa-arrow-right"></i
      ></a>
    </div>
  </div>
</div>
{{end}}
