{{define "main"}}

<!--Hero section-->
<div class="pb-14">
  <div class="grid lg:grid-cols-2 md:grid-cols-2 grid-cols-1">
    <div class="lg:px-4 md:px-4 px-0">
      <h2
        class="lg:text-5xl md:text-3xl text-xl lg:text-left md:text-left text-center text-black dark:text-white font-bold"
      >
        Automate every step of your
        <a href="/" class="text-blue-500 dark:text-blue-400"
          >contract management lifecycle</a
        >
        DocuCollab offers seamless
        <a href="/" class="text-blue-500 dark:text-blue-400"
          >contract lifecycle management tools</a
        >
      </h2>
      <div class="mt-8 text-center lg:text-left md:text-left">
        <a
          href="/"
          class="lg:mr-3 md:mr-3 mr-0 inline-block mb-3 lg:py-4 md:py-3 py-2 lg:px-8 md:px-6 px-4 text-white bg-blue-500 rounded-md hover:bg-blue-600 transaction-speed"
          >Try now for FREE</a
        >
        <a
          href="/"
          class="inline-block lg:py-4 md:py-3 py-2 lg:px-8 md:px-6 px-4 text-white border border-zinc-100 rounded-md hover:bg-blue-500 transaction-speed"
          >Shedule a Demo</a
        >
      </div>
    </div>
    <div class="p-4">
      <iframe
        allowtransparency="true"
        title="Wistia video player"
        allowfullscreen
        frameborder="0"
        scrolling="no"
        class="wistia_embed"
        name="wistia_embed"
        src="https://fast.wistia.net/embed/iframe/r9pdn52424"
        width="100%"
        height="320"
      ></iframe>
    </div>
  </div>
</div>
<!--End hero section-->

<!--All in one section-->
<div
  class="dark:bg-zinc-800 py-10 rounded-xl justify-center items-center mb-16"
>
  <h2 class="text-4xl text-center dark:text-white">
    <strong>ALL-IN-ONE ENTERPRISE CONTRACT MANAGEMENT SOFTWARE</strong>
  </h2>

  <!--Content-->
  <div class="grid lg:grid-cols-3 md:grid-cols-2 grid-cols-1 gap-4 mt-16 p-5">
    <!--Card 01-->
    <div
      class="p-6 border rounded-xl bg-white shadow-md shadow-zinc-800/5 ring-1 ring-zinc-900/5 transition dark:border dark:border-zinc-800/50 dark:bg-zinc-800 dark:ring-0 dark:ring-white/10 dark:hover:border-blue-400 dark:hover:ring-white/20"
    >
      <div
        class="md:flex lg:flex inline-block gap-6 lg:text-left md:text-left sm:text-center text-center"
      >
        <div class="img">
          <i
            class="fa-solid fa-users text-white text-3xl p-3 bg-blue-400 rounded-full"
          ></i>
        </div>
        <div class="content lg:mt-0 md:mt-0 mt-3">
          <h4 class="dark:text-white text-lg font-semibold leading-tight">
            Unified Platform for Contract & Proposal Management
          </h4>
          <br />
          <p class="dark:text-gray-100">
            DocuCollab is a robust software, where contracts, proposals, quotes,
            and other official documents can be monitored and managed
            effectively.
          </p>
        </div>
      </div>
    </div>
    <!--End card-->

    <!--Card 01-->
    <div
      class="p-6 border rounded-xl bg-white shadow-md shadow-zinc-800/5 ring-1 ring-zinc-900/5 transition dark:border dark:border-zinc-800/50 dark:bg-zinc-800 dark:ring-0 dark:ring-white/10 dark:hover:border-blue-400 dark:hover:ring-white/20"
    >
      <div
        class="md:flex lg:flex inline-block gap-6 lg:text-left md:text-left sm:text-center text-center"
      >
        <div class="img">
          <i
            class="fa-solid fa-users text-white text-3xl p-3 bg-blue-400 rounded-full"
          ></i>
        </div>
        <div class="content lg:mt-0 md:mt-0 mt-3">
          <h4 class="dark:text-white text-lg font-semibold leading-tight">
            Unified Platform for Contract & Proposal Management
          </h4>
          <br />
          <p class="dark:text-gray-100">
            DocuCollab is a robust software, where contracts, proposals, quotes,
            and other official documents can be monitored and managed
            effectively.
          </p>
        </div>
      </div>
    </div>
    <!--End card-->

    <!--Card 01-->
    <div
      class="p-6 border rounded-xl bg-white shadow-md shadow-zinc-800/5 ring-1 ring-zinc-900/5 transition dark:border dark:border-zinc-800/50 dark:bg-zinc-800 dark:ring-0 dark:ring-white/10 dark:hover:border-blue-400 dark:hover:ring-white/20"
    >
      <div
        class="md:flex lg:flex inline-block gap-6 lg:text-left md:text-left sm:text-center text-center"
      >
        <div class="img">
          <i
            class="fa-solid fa-users text-white text-3xl p-3 bg-blue-400 rounded-full"
          ></i>
        </div>
        <div class="content lg:mt-0 md:mt-0 mt-3">
          <h4 class="dark:text-white text-lg font-semibold leading-tight">
            Unified Platform for Contract & Proposal Management
          </h4>
          <br />
          <p class="dark:text-gray-100">
            DocuCollab is a robust software, where contracts, proposals, quotes,
            and other official documents can be monitored and managed
            effectively.
          </p>
        </div>
      </div>
    </div>
    <!--End card-->

    <!--Card 01-->
    <div
      class="p-6 border rounded-xl bg-white shadow-md shadow-zinc-800/5 ring-1 ring-zinc-900/5 transition dark:border dark:border-zinc-800/50 dark:bg-zinc-800 dark:ring-0 dark:ring-white/10 dark:hover:border-blue-400 dark:hover:ring-white/20"
    >
      <div
        class="md:flex lg:flex inline-block gap-6 lg:text-left md:text-left sm:text-center text-center"
      >
        <div class="img">
          <i
            class="fa-solid fa-users text-white text-3xl p-3 bg-blue-400 rounded-full"
          ></i>
        </div>
        <div class="content lg:mt-0 md:mt-0 mt-3">
          <h4 class="dark:text-white text-lg font-semibold leading-tight">
            Unified Platform for Contract & Proposal Management
          </h4>
          <br />
          <p class="dark:text-gray-100">
            DocuCollab is a robust software, where contracts, proposals, quotes,
            and other official documents can be monitored and managed
            effectively.
          </p>
        </div>
      </div>
    </div>
    <!--End card-->

    <!--Card 01-->
    <div
      class="p-6 border rounded-xl bg-white shadow-md shadow-zinc-800/5 ring-1 ring-zinc-900/5 transition dark:border dark:border-zinc-800/50 dark:bg-zinc-800 dark:ring-0 dark:ring-white/10 dark:hover:border-blue-400 dark:hover:ring-white/20"
    >
      <div
        class="md:flex lg:flex inline-block gap-6 lg:text-left md:text-left sm:text-center text-center"
      >
        <div class="img">
          <i
            class="fa-solid fa-users text-white text-3xl p-3 bg-blue-400 rounded-full"
          ></i>
        </div>
        <div class="content lg:mt-0 md:mt-0 mt-3">
          <h4 class="dark:text-white text-lg font-semibold leading-tight">
            Unified Platform for Contract & Proposal Management
          </h4>
          <br />
          <p class="dark:text-gray-100">
            DocuCollab is a robust software, where contracts, proposals, quotes,
            and other official documents can be monitored and managed
            effectively.
          </p>
        </div>
      </div>
    </div>
    <!--End card-->

    <!--Card 01-->
    <div
      class="p-6 border rounded-xl bg-white shadow-md shadow-zinc-800/5 ring-1 ring-zinc-900/5 transition dark:border dark:border-zinc-800/50 dark:bg-zinc-800 dark:ring-0 dark:ring-white/10 dark:hover:border-blue-400 dark:hover:ring-white/20"
    >
      <div
        class="md:flex lg:flex inline-block gap-6 lg:text-left md:text-left sm:text-center text-center"
      >
        <div class="img">
          <i
            class="fa-solid fa-users text-white text-3xl p-3 bg-blue-400 rounded-full"
          ></i>
        </div>
        <div class="content lg:mt-0 md:mt-0 mt-3">
          <h4 class="dark:text-white text-lg font-semibold leading-tight">
            Unified Platform for Contract & Proposal Management
          </h4>
          <br />
          <p class="dark:text-gray-100">
            DocuCollab is a robust software, where contracts, proposals, quotes,
            and other official documents can be monitored and managed
            effectively.
          </p>
        </div>
      </div>
    </div>
    <!--End card-->
  </div>
</div>
<!--END All in one section-->

<!--SAVE TIME section-->
<div
  class="dark:bg-zinc-800 py-10 rounded-xl justify-center items-center mb-16"
>
  <h2 class="text-4xl text-center dark:text-white">
    <strong>SAVE TIME</strong>
  </h2>

  <!--Content-->
  <div class="grid lg:grid-cols-3 md:grid-cols-2 grid-cols-1 gap-4 mt-16 p-5">
    <!--Card 01-->
    <div
      class="p-6 border rounded-xl bg-white shadow-md shadow-zinc-800/5 ring-1 ring-zinc-900/5 transition dark:border dark:border-zinc-800/50 dark:bg-zinc-800 dark:ring-0 dark:ring-white/10 dark:hover:border-blue-400 dark:hover:ring-white/20"
    >
      <div
        class="md:flex lg:flex inline-block gap-6 lg:text-left md:text-left sm:text-center text-center"
      >
        <div class="img">
          <i
            class="fa-solid fa-users text-white text-3xl p-3 bg-blue-400 rounded-full"
          ></i>
        </div>
        <div class="content lg:mt-0 md:mt-0 mt-3">
          <h4 class="dark:text-white text-lg font-semibold leading-tight">
            Unified Platform for Contract & Proposal Management
          </h4>
          <br />
          <p class="dark:text-gray-100">
            DocuCollab is a robust software, where contracts, proposals, quotes,
            and other official documents can be monitored and managed
            effectively.
          </p>
        </div>
      </div>
    </div>
    <!--End card-->

    <!--Card 01-->
    <div
      class="p-6 border rounded-xl bg-white shadow-md shadow-zinc-800/5 ring-1 ring-zinc-900/5 transition dark:border dark:border-zinc-800/50 dark:bg-zinc-800 dark:ring-0 dark:ring-white/10 dark:hover:border-blue-400 dark:hover:ring-white/20"
    >
      <div
        class="md:flex lg:flex inline-block gap-6 lg:text-left md:text-left sm:text-center text-center"
      >
        <div class="img">
          <i
            class="fa-solid fa-users text-white text-3xl p-3 bg-blue-400 rounded-full"
          ></i>
        </div>
        <div class="content lg:mt-0 md:mt-0 mt-3">
          <h4 class="dark:text-white text-lg font-semibold leading-tight">
            Unified Platform for Contract & Proposal Management
          </h4>
          <br />
          <p class="dark:text-gray-100">
            DocuCollab is a robust software, where contracts, proposals, quotes,
            and other official documents can be monitored and managed
            effectively.
          </p>
        </div>
      </div>
    </div>
    <!--End card-->

    <!--Card 01-->
    <div
      class="p-6 border rounded-xl bg-white shadow-md shadow-zinc-800/5 ring-1 ring-zinc-900/5 transition dark:border dark:border-zinc-800/50 dark:bg-zinc-800 dark:ring-0 dark:ring-white/10 dark:hover:border-blue-400 dark:hover:ring-white/20"
    >
      <div
        class="md:flex lg:flex inline-block gap-6 lg:text-left md:text-left sm:text-center text-center"
      >
        <div class="img">
          <i
            class="fa-solid fa-users text-white text-3xl p-3 bg-blue-400 rounded-full"
          ></i>
        </div>
        <div class="content lg:mt-0 md:mt-0 mt-3">
          <h4 class="dark:text-white text-lg font-semibold leading-tight">
            Unified Platform for Contract & Proposal Management
          </h4>
          <br />
          <p class="dark:text-gray-100">
            DocuCollab is a robust software, where contracts, proposals, quotes,
            and other official documents can be monitored and managed
            effectively.
          </p>
        </div>
      </div>
    </div>
    <!--End card-->

    <!--Card 01-->
    <div
      class="p-6 border rounded-xl bg-white shadow-md shadow-zinc-800/5 ring-1 ring-zinc-900/5 transition dark:border dark:border-zinc-800/50 dark:bg-zinc-800 dark:ring-0 dark:ring-white/10 dark:hover:border-blue-400 dark:hover:ring-white/20"
    >
      <div
        class="md:flex lg:flex inline-block gap-6 lg:text-left md:text-left sm:text-center text-center"
      >
        <div class="img">
          <i
            class="fa-solid fa-users text-white text-3xl p-3 bg-blue-400 rounded-full"
          ></i>
        </div>
        <div class="content lg:mt-0 md:mt-0 mt-3">
          <h4 class="dark:text-white text-lg font-semibold leading-tight">
            Unified Platform for Contract & Proposal Management
          </h4>
          <br />
          <p class="dark:text-gray-100">
            DocuCollab is a robust software, where contracts, proposals, quotes,
            and other official documents can be monitored and managed
            effectively.
          </p>
        </div>
      </div>
    </div>
    <!--End card-->

    <!--Card 01-->
    <div
      class="p-6 border rounded-xl bg-white shadow-md shadow-zinc-800/5 ring-1 ring-zinc-900/5 transition dark:border dark:border-zinc-800/50 dark:bg-zinc-800 dark:ring-0 dark:ring-white/10 dark:hover:border-blue-400 dark:hover:ring-white/20"
    >
      <div
        class="md:flex lg:flex inline-block gap-6 lg:text-left md:text-left sm:text-center text-center"
      >
        <div class="img">
          <i
            class="fa-solid fa-users text-white text-3xl p-3 bg-blue-400 rounded-full"
          ></i>
        </div>
        <div class="content lg:mt-0 md:mt-0 mt-3">
          <h4 class="dark:text-white text-lg font-semibold leading-tight">
            Unified Platform for Contract & Proposal Management
          </h4>
          <br />
          <p class="dark:text-gray-100">
            DocuCollab is a robust software, where contracts, proposals, quotes,
            and other official documents can be monitored and managed
            effectively.
          </p>
        </div>
      </div>
    </div>
    <!--End card-->

    <!--Card 01-->
    <div
      class="p-6 border rounded-xl bg-white shadow-md shadow-zinc-800/5 ring-1 ring-zinc-900/5 transition dark:border dark:border-zinc-800/50 dark:bg-zinc-800 dark:ring-0 dark:ring-white/10 dark:hover:border-blue-400 dark:hover:ring-white/20"
    >
      <div
        class="md:flex lg:flex inline-block gap-6 lg:text-left md:text-left sm:text-center text-center"
      >
        <div class="img">
          <i
            class="fa-solid fa-users text-white text-3xl p-3 bg-blue-400 rounded-full"
          ></i>
        </div>
        <div class="content lg:mt-0 md:mt-0 mt-3">
          <h4 class="dark:text-white text-lg font-semibold leading-tight">
            Unified Platform for Contract & Proposal Management
          </h4>
          <br />
          <p class="dark:text-gray-100">
            DocuCollab is a robust software, where contracts, proposals, quotes,
            and other official documents can be monitored and managed
            effectively.
          </p>
        </div>
      </div>
    </div>
    <!--End card-->
  </div>
</div>
<!--END SAVE TIME section-->

<!--SAVE TIME section-->
<div
  class="dark:bg-zinc-800 py-10 rounded-xl justify-center items-center mb-16"
>
  <h2 class="text-4xl text-center dark:text-white">
    <strong>DO IT SMARTER</strong>
  </h2>

  <!--Content-->
  <div class="grid lg:grid-cols-3 md:grid-cols-2 grid-cols-1 gap-4 mt-16 p-5">
    <!--Card 01-->
    <div
      class="p-6 border rounded-xl bg-white shadow-md shadow-zinc-800/5 ring-1 ring-zinc-900/5 transition dark:border dark:border-zinc-800/50 dark:bg-zinc-800 dark:ring-0 dark:ring-white/10 dark:hover:border-blue-400 dark:hover:ring-white/20"
    >
      <div
        class="md:flex lg:flex inline-block gap-6 lg:text-left md:text-left sm:text-center text-center"
      >
        <div class="img">
          <i
            class="fa-solid fa-users text-white text-3xl p-3 bg-blue-400 rounded-full"
          ></i>
        </div>
        <div class="content lg:mt-0 md:mt-0 mt-3">
          <h4 class="dark:text-white text-lg font-semibold leading-tight">
            Unified Platform for Contract & Proposal Management
          </h4>
          <br />
          <p class="dark:text-gray-100">
            DocuCollab is a robust software, where contracts, proposals, quotes,
            and other official documents can be monitored and managed
            effectively.
          </p>
        </div>
      </div>
    </div>
    <!--End card-->

    <!--Card 01-->
    <div
      class="p-6 border rounded-xl bg-white shadow-md shadow-zinc-800/5 ring-1 ring-zinc-900/5 transition dark:border dark:border-zinc-800/50 dark:bg-zinc-800 dark:ring-0 dark:ring-white/10 dark:hover:border-blue-400 dark:hover:ring-white/20"
    >
      <div
        class="md:flex lg:flex inline-block gap-6 lg:text-left md:text-left sm:text-center text-center"
      >
        <div class="img">
          <i
            class="fa-solid fa-users text-white text-3xl p-3 bg-blue-400 rounded-full"
          ></i>
        </div>
        <div class="content lg:mt-0 md:mt-0 mt-3">
          <h4 class="dark:text-white text-lg font-semibold leading-tight">
            Unified Platform for Contract & Proposal Management
          </h4>
          <br />
          <p class="dark:text-gray-100">
            DocuCollab is a robust software, where contracts, proposals, quotes,
            and other official documents can be monitored and managed
            effectively.
          </p>
        </div>
      </div>
    </div>
    <!--End card-->

    <!--Card 01-->
    <div
      class="p-6 border rounded-xl bg-white shadow-md shadow-zinc-800/5 ring-1 ring-zinc-900/5 transition dark:border dark:border-zinc-800/50 dark:bg-zinc-800 dark:ring-0 dark:ring-white/10 dark:hover:border-blue-400 dark:hover:ring-white/20"
    >
      <div
        class="md:flex lg:flex inline-block gap-6 lg:text-left md:text-left sm:text-center text-center"
      >
        <div class="img">
          <i
            class="fa-solid fa-users text-white text-3xl p-3 bg-blue-400 rounded-full"
          ></i>
        </div>
        <div class="content lg:mt-0 md:mt-0 mt-3">
          <h4 class="dark:text-white text-lg font-semibold leading-tight">
            Unified Platform for Contract & Proposal Management
          </h4>
          <br />
          <p class="dark:text-gray-100">
            DocuCollab is a robust software, where contracts, proposals, quotes,
            and other official documents can be monitored and managed
            effectively.
          </p>
        </div>
      </div>
    </div>
    <!--End card-->

    <!--Card 01-->
    <div
      class="p-6 border rounded-xl bg-white shadow-md shadow-zinc-800/5 ring-1 ring-zinc-900/5 transition dark:border dark:border-zinc-800/50 dark:bg-zinc-800 dark:ring-0 dark:ring-white/10 dark:hover:border-blue-400 dark:hover:ring-white/20"
    >
      <div
        class="md:flex lg:flex inline-block gap-6 lg:text-left md:text-left sm:text-center text-center"
      >
        <div class="img">
          <i
            class="fa-solid fa-users text-white text-3xl p-3 bg-blue-400 rounded-full"
          ></i>
        </div>
        <div class="content lg:mt-0 md:mt-0 mt-3">
          <h4 class="dark:text-white text-lg font-semibold leading-tight">
            Unified Platform for Contract & Proposal Management
          </h4>
          <br />
          <p class="dark:text-gray-100">
            DocuCollab is a robust software, where contracts, proposals, quotes,
            and other official documents can be monitored and managed
            effectively.
          </p>
        </div>
      </div>
    </div>
    <!--End card-->

    <!--Card 01-->
    <div
      class="p-6 border rounded-xl bg-white shadow-md shadow-zinc-800/5 ring-1 ring-zinc-900/5 transition dark:border dark:border-zinc-800/50 dark:bg-zinc-800 dark:ring-0 dark:ring-white/10 dark:hover:border-blue-400 dark:hover:ring-white/20"
    >
      <div
        class="md:flex lg:flex inline-block gap-6 lg:text-left md:text-left sm:text-center text-center"
      >
        <div class="img">
          <i
            class="fa-solid fa-users text-white text-3xl p-3 bg-blue-400 rounded-full"
          ></i>
        </div>
        <div class="content lg:mt-0 md:mt-0 mt-3">
          <h4 class="dark:text-white text-lg font-semibold leading-tight">
            Unified Platform for Contract & Proposal Management
          </h4>
          <br />
          <p class="dark:text-gray-100">
            DocuCollab is a robust software, where contracts, proposals, quotes,
            and other official documents can be monitored and managed
            effectively.
          </p>
        </div>
      </div>
    </div>
    <!--End card-->

    <!--Card 01-->
    <div
      class="p-6 border rounded-xl bg-white shadow-md shadow-zinc-800/5 ring-1 ring-zinc-900/5 transition dark:border dark:border-zinc-800/50 dark:bg-zinc-800 dark:ring-0 dark:ring-white/10 dark:hover:border-blue-400 dark:hover:ring-white/20"
    >
      <div
        class="md:flex lg:flex inline-block gap-6 lg:text-left md:text-left sm:text-center text-center"
      >
        <div class="img">
          <i
            class="fa-solid fa-users text-white text-3xl p-3 bg-blue-400 rounded-full"
          ></i>
        </div>
        <div class="content lg:mt-0 md:mt-0 mt-3">
          <h4 class="dark:text-white text-lg font-semibold leading-tight">
            Unified Platform for Contract & Proposal Management
          </h4>
          <br />
          <p class="dark:text-gray-100">
            DocuCollab is a robust software, where contracts, proposals, quotes,
            and other official documents can be monitored and managed
            effectively.
          </p>
        </div>
      </div>
    </div>
    <!--End card-->
  </div>
</div>
<!--END SAVE TIME section-->

<!--AUTOMATE COMPLIANCE section-->
<div
  class="dark:bg-zinc-800 py-10 rounded-xl justify-center items-center mb-16"
>
  <h2 class="text-4xl text-center dark:text-white">
    <strong>AUTOMATE COMPLIANCE</strong>
  </h2>

  <!--Content-->
  <div class="grid lg:grid-cols-3 md:grid-cols-2 grid-cols-1 gap-4 mt-16 p-5">
    <!--Card 01-->
    <div
      class="p-6 border rounded-xl bg-white shadow-md shadow-zinc-800/5 ring-1 ring-zinc-900/5 transition dark:border dark:border-zinc-800/50 dark:bg-zinc-800 dark:ring-0 dark:ring-white/10 dark:hover:border-blue-400 dark:hover:ring-white/20"
    >
      <div
        class="md:flex lg:flex inline-block gap-6 lg:text-left md:text-left sm:text-center text-center"
      >
        <div class="img">
          <i
            class="fa-solid fa-users text-white text-3xl p-3 bg-blue-400 rounded-full"
          ></i>
        </div>
        <div class="content lg:mt-0 md:mt-0 mt-3">
          <h4 class="dark:text-white text-lg font-semibold leading-tight">
            Unified Platform for Contract & Proposal Management
          </h4>
          <br />
          <p class="dark:text-gray-100">
            DocuCollab is a robust software, where contracts, proposals, quotes,
            and other official documents can be monitored and managed
            effectively.
          </p>
        </div>
      </div>
    </div>
    <!--End card-->

    <!--Card 01-->
    <div
      class="p-6 border rounded-xl bg-white shadow-md shadow-zinc-800/5 ring-1 ring-zinc-900/5 transition dark:border dark:border-zinc-800/50 dark:bg-zinc-800 dark:ring-0 dark:ring-white/10 dark:hover:border-blue-400 dark:hover:ring-white/20"
    >
      <div
        class="md:flex lg:flex inline-block gap-6 lg:text-left md:text-left sm:text-center text-center"
      >
        <div class="img">
          <i
            class="fa-solid fa-users text-white text-3xl p-3 bg-blue-400 rounded-full"
          ></i>
        </div>
        <div class="content lg:mt-0 md:mt-0 mt-3">
          <h4 class="dark:text-white text-lg font-semibold leading-tight">
            Unified Platform for Contract & Proposal Management
          </h4>
          <br />
          <p class="dark:text-gray-100">
            DocuCollab is a robust software, where contracts, proposals, quotes,
            and other official documents can be monitored and managed
            effectively.
          </p>
        </div>
      </div>
    </div>
    <!--End card-->

    <!--Card 01-->
    <div
      class="p-6 border rounded-xl bg-white shadow-md shadow-zinc-800/5 ring-1 ring-zinc-900/5 transition dark:border dark:border-zinc-800/50 dark:bg-zinc-800 dark:ring-0 dark:ring-white/10 dark:hover:border-blue-400 dark:hover:ring-white/20"
    >
      <div
        class="md:flex lg:flex inline-block gap-6 lg:text-left md:text-left sm:text-center text-center"
      >
        <div class="img">
          <i
            class="fa-solid fa-users text-white text-3xl p-3 bg-blue-400 rounded-full"
          ></i>
        </div>
        <div class="content lg:mt-0 md:mt-0 mt-3">
          <h4 class="dark:text-white text-lg font-semibold leading-tight">
            Unified Platform for Contract & Proposal Management
          </h4>
          <br />
          <p class="dark:text-gray-100">
            DocuCollab is a robust software, where contracts, proposals, quotes,
            and other official documents can be monitored and managed
            effectively.
          </p>
        </div>
      </div>
    </div>
    <!--End card-->

    <!--Card 01-->
    <div
      class="p-6 border rounded-xl bg-white shadow-md shadow-zinc-800/5 ring-1 ring-zinc-900/5 transition dark:border dark:border-zinc-800/50 dark:bg-zinc-800 dark:ring-0 dark:ring-white/10 dark:hover:border-blue-400 dark:hover:ring-white/20"
    >
      <div
        class="md:flex lg:flex inline-block gap-6 lg:text-left md:text-left sm:text-center text-center"
      >
        <div class="img">
          <i
            class="fa-solid fa-users text-white text-3xl p-3 bg-blue-400 rounded-full"
          ></i>
        </div>
        <div class="content lg:mt-0 md:mt-0 mt-3">
          <h4 class="dark:text-white text-lg font-semibold leading-tight">
            Unified Platform for Contract & Proposal Management
          </h4>
          <br />
          <p class="dark:text-gray-100">
            DocuCollab is a robust software, where contracts, proposals, quotes,
            and other official documents can be monitored and managed
            effectively.
          </p>
        </div>
      </div>
    </div>
    <!--End card-->

    <!--Card 01-->
    <div
      class="p-6 border rounded-xl bg-white shadow-md shadow-zinc-800/5 ring-1 ring-zinc-900/5 transition dark:border dark:border-zinc-800/50 dark:bg-zinc-800 dark:ring-0 dark:ring-white/10 dark:hover:border-blue-400 dark:hover:ring-white/20"
    >
      <div
        class="md:flex lg:flex inline-block gap-6 lg:text-left md:text-left sm:text-center text-center"
      >
        <div class="img">
          <i
            class="fa-solid fa-users text-white text-3xl p-3 bg-blue-400 rounded-full"
          ></i>
        </div>
        <div class="content lg:mt-0 md:mt-0 mt-3">
          <h4 class="dark:text-white text-lg font-semibold leading-tight">
            Unified Platform for Contract & Proposal Management
          </h4>
          <br />
          <p class="dark:text-gray-100">
            DocuCollab is a robust software, where contracts, proposals, quotes,
            and other official documents can be monitored and managed
            effectively.
          </p>
        </div>
      </div>
    </div>
    <!--End card-->

    <!--Card 01-->
    <div
      class="p-6 border rounded-xl bg-white shadow-md shadow-zinc-800/5 ring-1 ring-zinc-900/5 transition dark:border dark:border-zinc-800/50 dark:bg-zinc-800 dark:ring-0 dark:ring-white/10 dark:hover:border-blue-400 dark:hover:ring-white/20"
    >
      <div
        class="md:flex lg:flex inline-block gap-6 lg:text-left md:text-left sm:text-center text-center"
      >
        <div class="img">
          <i
            class="fa-solid fa-users text-white text-3xl p-3 bg-blue-400 rounded-full"
          ></i>
        </div>
        <div class="content lg:mt-0 md:mt-0 mt-3">
          <h4 class="dark:text-white text-lg font-semibold leading-tight">
            Unified Platform for Contract & Proposal Management
          </h4>
          <br />
          <p class="dark:text-gray-100">
            DocuCollab is a robust software, where contracts, proposals, quotes,
            and other official documents can be monitored and managed
            effectively.
          </p>
        </div>
      </div>
    </div>
    <!--End card-->
  </div>
</div>
<!--END AUTOMATE COMPLIANCE section-->

{{end}}
