{{define "main"}}

<!--Templates-->
<div class="text-center py-10">
  <h2 class="text-5xl text-zinc-700 dark:text-zinc-300 font-bold mb-12">
    Features and Benefits
  </h2>

  <div class="grid lg:grid-cols-4 md:grid-cols-4 grid-cols-1 px-3 gap-3">
    <!--Blue-->
    <div class="mt-5 bg-white dark:bg-zinc-700 py-16 rounded-xl">
      <h2 class="font-bold text-5xl text-blue-400 mb-12">
        Interactive Proposal Template
      </h2>
      <a
        href="/"
        class="py-4 px-4 bg-blue-400 flex w-fit justify-center gap-3 rounded-lg hover:bg-blue-500 items-center mx-auto text-white transaction-speed"
        ><i class="fa-solid fa-rocket"></i> Launch Template</a
      >
    </div>

    <!--Teal-->
    <div class="mt-5 bg-white dark:bg-zinc-700 py-16 rounded-xl">
      <h2 class="font-bold text-5xl text-teal-400 mb-12">
        Interactive Proposal Template
      </h2>
      <a
        href="/"
        class="py-4 px-4 bg-teal-400 flex w-fit justify-center gap-3 rounded-lg hover:bg-teal-500 items-center mx-auto text-white transaction-speed"
        ><i class="fa-solid fa-rocket"></i> Launch Template</a
      >
    </div>

    <!--Orange-->
    <div class="mt-5 bg-white dark:bg-zinc-700 py-16 rounded-xl">
      <h2 class="font-bold text-5xl text-orange-400 mb-12">
        Interactive Proposal Template
      </h2>
      <a
        href="/"
        class="py-4 px-4 bg-orange-400 flex w-fit justify-center gap-3 rounded-lg hover:bg-orange-500 items-center mx-auto text-white"
        ><i class="fa-solid fa-rocket"></i> Launch Template</a
      >
    </div>

    <!--Pink-->
    <div class="mt-5 bg-white dark:bg-zinc-700 py-16 rounded-xl">
      <h2 class="font-bold text-5xl text-pink-400 mb-12">
        Interactive Proposal Template
      </h2>
      <a
        href="/"
        class="py-4 px-4 bg-pink-400 flex w-fit justify-center gap-3 rounded-lg hover:bg-pink-500 items-center mx-auto text-white"
        ><i class="fa-solid fa-rocket"></i> Launch Template</a
      >
    </div>

    <!--Blue-->
    <div class="mt-5 bg-white dark:bg-zinc-700 py-16 rounded-xl">
      <h2 class="font-bold text-5xl text-blue-400 mb-12">
        Interactive Proposal Template
      </h2>
      <a
        href="/"
        class="py-4 px-4 bg-blue-400 flex w-fit justify-center gap-3 rounded-lg hover:bg-blue-500 items-center mx-auto text-white transaction-speed"
        ><i class="fa-solid fa-rocket"></i> Launch Template</a
      >
    </div>

    <!--Teal-->
    <div class="mt-5 bg-white dark:bg-zinc-700 py-16 rounded-xl">
      <h2 class="font-bold text-5xl text-teal-400 mb-12">
        Interactive Proposal Template
      </h2>
      <a
        href="/"
        class="py-4 px-4 bg-teal-400 flex w-fit justify-center gap-3 rounded-lg hover:bg-teal-500 items-center mx-auto text-white transaction-speed"
        ><i class="fa-solid fa-rocket"></i> Launch Template</a
      >
    </div>

    <!--Orange-->
    <div class="mt-5 bg-white dark:bg-zinc-700 py-16 rounded-xl">
      <h2 class="font-bold text-5xl text-orange-400 mb-12">
        Interactive Proposal Template
      </h2>
      <a
        href="/"
        class="py-4 px-4 bg-orange-400 flex w-fit justify-center gap-3 rounded-lg hover:bg-orange-500 items-center mx-auto text-white"
        ><i class="fa-solid fa-rocket"></i> Launch Template</a
      >
    </div>

    <!--Pink-->
    <div class="mt-5 bg-white dark:bg-zinc-700 py-16 rounded-xl">
      <h2 class="font-bold text-5xl text-pink-400 mb-12">
        Interactive Proposal Template
      </h2>
      <a
        href="/"
        class="py-4 px-4 bg-pink-400 flex w-fit justify-center gap-3 rounded-lg hover:bg-pink-500 items-center mx-auto text-white"
        ><i class="fa-solid fa-rocket"></i> Launch Template</a
      >
    </div>
  </div>
</div>
{{end}}
