{{define "main"}}

<!-- Hero section-->
{{with .Params.hero_section}}
<div
  class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-2 gap-4 justify-center items-center mb-16"
>
  <div class="p-4 lg:order-1 md:order-1 order-2">
    <blockquote
      class="text-2xl md:text-5xl lg:text-5xl font-bold text-center text-slate-900 dark:text-gray-300 z-50 line"
    >
      {{.title}}
      <span
        class="before:block before:absolute before:-inset-1 before:-skew-y-3 before:bg-blue-500 relative inline-block"
      >
        <span class="relative text-white">{{.highlight}}</span>
      </span>
    </blockquote>
    <p class="text-center text-gray-800 dark:text-gray-200 mt-5">
      {{.content}}
    </p>
    <br />
    <div class="btn text-center mt-4 flex gap-4 justify-center">
      {{with .border_buton}}
      <a
        href="{{.link}}"
        class="text-black flex items-center dark:text-white lg:px-4 md:px-3 px-2 py-2 border border-slate-300 hover:border-blue-400 hover:bg-blue-400 hover:text-white rounded-lg transaction shadow-xl"
      >
        {{.label}}
        <i class="fa-solid fa-arrow-right ml-3"></i>
      </a>
      {{end}}
      <!---->
      {{with .primary_buton}}
      <a
        href="{{.link}}"
        class="border-slate-300 flex items-center bg-blue-400 px-4 rounded-lg text-white hover:bg-blue-500 transaction"
        >{{.label}}</a
      >
      {{end}}
    </div>
  </div>
  <div class="p-4 lg:order-2 md:order-2 order-1">
    <img
      src="{{.hero_img}}"
      alt=""
      class="w-fit hover:scale-105 transaction-speed rounded-2xl"
    />
  </div>
</div>
{{end}}
<!--End hero section-->

<!--Why choose section-->
{{with .Params.why_choose}}
<div
  class="dark:bg-zinc-800 py-10 rounded-xl justify-center items-center mb-16"
>
  <h2 class="text-4xl text-center dark:text-white">
    <strong>{{.title}}</strong>
  </h2>

  <!--Content-->
  <div class="grid lg:grid-cols-3 md:grid-cols-2 grid-cols-1 gap-4 mt-16 p-5">
    <!--Card 01-->
    {{range .cards}}
    <div
      class="p-6 border rounded-xl bg-white shadow-md shadow-zinc-800/5 ring-1 ring-zinc-900/5 transition dark:border dark:border-zinc-800/50 dark:bg-zinc-800 dark:ring-0 dark:ring-white/10 dark:hover:border-blue-400 dark:hover:ring-white/20"
    >
      <div
        class="md:flex lg:flex inline-block gap-6 lg:text-left md:text-left sm:text-center text-center"
      >
        <div class="img">
          <i
            class="{{.icon}} text-white flex justify-center items-center text-3xl p-3 bg-blue-400 rounded-full w-16 h-16"
          ></i>
        </div>
        <div class="content lg:mt-0 md:mt-0 mt-3">
          <h4 class="dark:text-white text-lg font-semibold leading-tight">
            {{.title}}
          </h4>
          <br />
          <p class="dark:text-gray-100">{{.content}}</p>
        </div>
      </div>
    </div>
    {{end}}
    <!--End card-->
  </div>
</div>
{{end}}
<!--END Why choose section-->

<!--Video section-->
{{with .Params.video_section}}
<div class="mb-16 py-14">
  <div
    class="grid grid-cols-1 lg:grid-cols-2 md:grid-cols-2 mb-16 items-center"
  >
    <div class="w-full rounded-3xl">
      <iframe
        title="vimeo-player"
        src="{{.video}}"
        frameborder="0"
        height="300px"
        width="100%"
        allowfullscreen
        class="rounded-2xl"
      ></iframe>
    </div>
    <div>
      <h3 class="text-5xl dark:text-zinc-300">{{.title | safeHTML}}</h3>
      <br />
      <p class="dark:text-zinc-200">{{.content}}</p>
    </div>
  </div>
</div>
{{end}}
<!--End video Section-->

<!--FAQ Section-->
<div class="mb-16 pb-14">
  <!--FAQ-->
  {{ range $index, $item := .Params.faqs }}
  <details
    class="open:bg-white bg-zinc-200 dark:bg-zinc-800 dark:open:bg-zinc-800 open:ring-1 open:ring-black/5 dark:open:ring-white/10 open:shadow-lg p-6 rounded-lg transaction-speed mt-4"
    {{if eq $index 0}} open {{end }}
  >
    <summary
      class="text-2xl leading-6 text-slate-900 dark:text-white font-semibold select-none pb-4 cursor-pointer"
    >
      {{.q}}
    </summary>
    <div
      class="mt-3 text-sm leading-6 text-slate-600 dark:text-slate-400 border-t border-zinc-500"
    >
      <br />
      <p>{{.a}}</p>
      <br />
      <a href="{{.link}}" class="text-blue-500 underline">Lern More</a>
    </div>
  </details>
  {{end}}
</div>

<!--Testimonials Section-->
<div class="mb-16 testimonials">
  <h2 class="text-zinc-600 dark:text-white font-bold text-center text-4xl">
    Testimonials
  </h2>
  <br />
  <br />
  <div class="grid grid-cols-1 lg:grid-cols-3 md:grid-cols-2 gap-4">
    <div class="text-zinc-300 p-4">
      <blockquote
        class="text-2xl font-semibold italic text-center text-slate-900 dark:text-white"
      >
        " DocuCollab has always been my go to document editor and will remain at
        the top.
        <span
          class="before:block before:absolute before:-inset-1 before:-skew-y-3 before:bg-blue-500 relative inline-block"
        >
          <span class="relative text-white">
            Enterprises and legal businesses widely accept DocuCollab’s Real
            Time Change Tracking.
          </span>
        </span>
        As entrepreneurs, we can communicate with clients and colleagues and
        access shared files without any trouble. "
      </blockquote>
    </div>

    <!--Item 2-->
    <div class="text-zinc-300 p-4">
      <blockquote
        class="text-2xl font-semibold italic text-center text-slate-900 dark:text-white"
      >
        " My experience with DocuCollab is very positive. DocuCollab allows us
        to engage with technology and collaborate with each other safely.
        <span
          class="before:block before:absolute before:-inset-1 before:-skew-y-3 before:bg-blue-500 relative inline-block"
        >
          <span class="relative text-white">
            This is definitely a product
          </span>
        </span>
        that will help to achieve many goals. DocuCollab has helped to take our
        business to the next level.""
      </blockquote>
    </div>

    <!--Item 3-->
    <div class="text-zinc-300 p-4">
      <blockquote
        class="text-2xl font-semibold italic text-center text-slate-900 dark:text-white"
      >
        " DocuCollab has the feature of sharing documents with two or more users
        securely. This makes collaboration so much easier.
        <span
          class="before:block before:absolute before:-inset-1 before:-skew-y-3 before:bg-blue-500 relative inline-block"
        >
          <span class="relative text-white">
            This feature is very useful when you want more people to contribute
            to a document
          </span>
        </span>
        . I must say that the ease of using DocuCollab is far superior to any
        other similar product that I have used.
      </blockquote>
    </div>
  </div>
</div>

<!--End Testimonials Section-->

<!--Blog post section-->

<div class="mb-16 dark:bg-zinc-800 p-5 rounded-xl">
  <div class="grid grid-cols-1 md:grid-cols-3 lg:grid-cols-3 p-6">
    <div class="col-span-1 md:col-span-1 lg:col-span-1 mb-12 mt-3">
      <h2 class="text-zinc-600 dark:text-white font-bold text-2xl">
        LATEST FROM THE BLOG
      </h2>
      <br />
      <h4 class="text-zinc-500 dark:text-zinc-300">
        Helpful articles and <br />
        resources that will help you <br />
        agree better and faster.
      </h4>
      <br />
      <a
        href="/blog"
        class="text-blue-400 flex gap-3 items-center hover:gap-5 transaction-speed"
        >View Our Blog <i class="fa-sharp fa-solid fa-arrow-right"></i
      ></a>
    </div>

    <div class="col-span-2 px-0 md:px-3 lg:px-5 divide-y">
      {{ $posts := .Site.GetPage "section" "blog" }}
      <!---->
      {{ range first 3 $posts.Pages }}
      <a
        href="{{.Permalink}}"
        class="flex flex-col gap-3 hover:underline text-zinc-600 dark:text-zinc-100 pb-8"
      >
        <h3 class="text-lg md:text-xl lg:text-2xl font-bold mt-3">
          {{.Title}}
        </h3>
        <p>{{slicestr .Summary 0 200}}</p>
      </a>
      {{end}}
    </div>
  </div>
</div>
<!--End blog post section-->

<!--Call to action section-->
{{with .Params.call_action_section}}
<div class="mb-16 rounded-xl">
  <div
    class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 items-center bg-gray-800"
  >
    <div>
      <img src="{{.image}}" alt="call to action" height="100%" />
    </div>
    <div class="p-10">
      <h2 class="text-zinc-400 text-lg sm:text-sm">{{.sub_title}}</h2>
      <br />
      <p
        class="text-zinc-300 lg:text-5xl md:text-3xl sm:text-sm text-lg font-bold"
      >
        {{.title}}
      </p>
      <br />
      <br />
      <br />
      {{with .button}}
      <a
        href="{{.link}}"
        class="lg:py-8 md:py-6 py-3 lg:px-14 md:px-10 px-6 text-white bg-blue-400 transaction font-bold flex gap-4 hover:gap-7 items-center justify-center lg:text-xl md:text-lg sm:text-sm text-sm"
        >{{.label}} <i class="fa-sharp fa-solid fa-arrow-right"></i
      ></a>
      {{end}}
    </div>
  </div>
</div>
{{end}}
<!--End call to action section-->

<!--Contact section-->
<div class="py-10">
  <div
    class="grid lg:grid-cols-2 md:grid-cols-2 grid-cols-1 lg:px-6 md:px-4 px-0"
  >
    <div class="justify-start">
      <h2
        class="lg:text-4xl md:text-2xl text-xl dark:text-white lg:px-6 md:px-4 px-0"
      >
        <strong>GET IN TOUCH</strong>
      </h2>
      <form class="mx-auto rounded-lg lg:px-6 md:px-4 px-0 py-4 text-start">
        <div class="mb-6">
          <label
            for="name"
            class="block text-zinc-400 dark:text-zinc-200 mb-1 text-sm"
            >Name:</label
          >
          <input
            type="text"
            id="name"
            name="name"
            class="w-full px-3 py-2 bg-zinc-50 dark:bg-zinc-900 border border-zinc-300 rounded-md focus:outline-none focus:ring-blue-500 focus:border-blue-500 text-sm"
            placeholder="Enter your full name"
            required
          />
        </div>

        <div class="lg:flex md:flex inline-block gap-3 w-full">
          <div class="mb-4 w-full">
            <label
              for="email"
              class="block text-zinc-400 dark:text-zinc-200 mb-1 text-sm"
              >Email:</label
            >
            <input
              type="email"
              id="email"
              name="email"
              class="w-full px-3 py-2 bg-zinc-100 dark:bg-zinc-900 border border-zinc-300 rounded-md focus:outline-none focus:ring-blue-500 focus:border-blue-500 text-sm"
              placeholder="Enter your Email"
              required
            />
          </div>
          <div class="mb-4 w-full">
            <label
              for="email"
              class="block text-zinc-400 dark:text-zinc-200 mb-1 text-sm"
              >Email:</label
            >
            <input
              type="tel"
              id="phone"
              name="phone"
              class="w-full px-3 py-2 bg-zinc-100 dark:bg-zinc-900 border border-zinc-300 rounded-md focus:outline-none focus:ring-blue-500 focus:border-blue-500 text-sm"
              placeholder="Enter your phone Number"
              required
            />
          </div>
        </div>

        <div class="mb-4">
          <label
            for="message"
            class="block text-zinc-400 dark:text-zinc-200 mb-1 text-sm"
            >Message:</label
          >
          <textarea
            id="message"
            name="message"
            rows="4"
            class="w-full px-3 py-2 border bg-zinc-100 dark:bg-zinc-900 border-zinc-300 rounded-md focus:outline-none focus:ring-blue-500 focus:border-blue-500"
            placeholder="Enter your message"
            required
          ></textarea>
        </div>
        <div class="flex justify-end">
          <button
            type="submit"
            class="px-4 py-2 bg-blue-500 text-white font-bold rounded hover:bg-blue-600 transaction"
          >
            Submit
          </button>
        </div>
      </form>
    </div>
    <div class="lg:px-6 md:px-4 px-0 lg:py-0 md:py-0 py-6">
      <h2 class="lg:text-4xl md:text-2xl text-xl dark:text-white">
        <strong>CONTACT INFO</strong>
      </h2>
      <ul class="dark:text-zinc-200 mt-8">
        <li class="mb-8">
          <a
            href="callto:+1-571-228-7037"
            class="flex gap-3 items-center hover:text-blue-500 transaction"
          >
            <i class="fa-sharp fa-solid fa-phone"></i> +1-571-228-7037</a
          >
        </li>
        <li class="mb-8">
          <a
            href="mailto:sales@docucollab.com"
            class="flex gap-3 items-center hover:text-blue-500 transaction"
            ><i class="fa-sharp fa-solid fa-envelope"></i>
            sales@docucollab.com</a
          >
        </li>
        <li class="mb-8">
          <a class="flex gap-3 items-center hover:text-blue-500 transaction"
            ><i class="fa-sharp fa-solid fa-location-dot"></i> 1604 Spring Hill
            Road, Suite 216, Tysons, <br />
            Virginia, 22182, USA</a
          >
        </li>
      </ul>
    </div>
  </div>
</div>

{{end}}
