<header
  class="bg-gray-200 dark:bg-zinc-900 font-roboto justify-start shadow-md"
>
  <nav class="flex items-center justify-between px-4 py-3 mx-auto max-w-7xl">
    <a
      href="/"
      class="flex gap-3 items-center md:text-4xl sm:text-sm text-gray-800 dark:text-white"
      ><img src="/img/logo.png" alt="DocuCollab Logo" class="h-12" />
      DocuCollab</a
    >

    <!-- Mobile menu toggle -->
    <div
      x-data="{ open: false }"
      @click.away="open = false"
      class="relative md:hidden"
    >
      <button @click="open = !open" class="p-2 text-gray-800 dark:text-white">
        <svg
          x-bind:class="{ 'hidden': open, 'block': !open }"
          class="w-6 h-6"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path d="M3 12h18M3 6h18M3 18h18"></path>
        </svg>
        <svg
          x-bind:class="{ 'hidden': !open, 'block': open }"
          class="w-6 h-6"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path d="M6 18L18 6M6 6l12 12"></path>
        </svg>
      </button>

      <!-- Mobile navigation menu -->
      <div x-show="open" class="mobile-menu transaction-speed">
        <div class="overlay"></div>
        <div
          class="absolute top-12 right-0 z-10 w-64 mt-2 space-y-2 mx-auto bg-white rounded-md shadow-md dark:bg-zinc-800"
        >
          <a href="/" class="block px-4 py-2 text-zinc-800 dark:text-blue-500"
            >Home</a
          >
          <a
            href="#"
            class="block px-4 py-2 text-zinc-800 dark:text-white drop-down"
            >Solutions</a
          >
          <ul
            class="absolute hidden mt-2 space-y-2 bg-white rounded-md shadow-md dark:bg-gray-700 dropdown"
          >
            <li>
              <a href="#" class="block px-4 py-2 text-gray-800 dark:text-white"
                >Proposal Management</a
              >
            </li>
            <li>
              <a href="#" class="block px-4 py-2 text-gray-800 dark:text-white"
                >Contract Management</a
              >
            </li>
          </ul>
          <a href="#" class="block px-4 py-2 text-gray-800 dark:text-white"
            >Features and Benefits</a
          >
          <a href="#" class="block px-4 py-2 text-gray-800 dark:text-white"
            >Blog</a
          >
          <a href="#" class="block px-4 py-2 text-gray-800 dark:text-white"
            >Contact Us</a
          >
          <a href="#" class="block px-4 py-2 text-gray-800 dark:text-white"
            >Login</a
          >
        </div>
      </div>
    </div>

    <!-- Desktop navigation menu -->
    <ul class="hidden space-x-4 md:flex">
      <li>
        <a
          href="/"
          class="text-gray-800 dark:text-white hover:text-blue-600 dark:hover:text-blue-500"
          >Home</a
        >
      </li>
      <li class="relative">
        <a
          class="text-gray-800 cursor-pointer dark:text-white hover:text-blue-600 hover:dark:text-blue-500 drop-down"
          >Solutions</a
        >
        <ul
          class="absolute hidden p-4 mt-2 space-y-2 bg-white rounded-md shadow-md dark:bg-zinc-800 dropdown w-60 border border-zinc-600 transaction-speed"
        >
          <li>
            <a
              href="/proposal-management-software/"
              class="block text-gray-800 dark:text-white rounded-lg px-3 py-2 font-medium dark:hover:text-blue-500"
              >Proposal Management</a
            >
          </li>
          <li>
            <a
              href="/contract-management-software/"
              class="block text-gray-800 dark:text-white rounded-lg px-3 py-2 font-medium dark:hover:text-blue-500"
              >Contract Management</a
            >
          </li>
        </ul>
      </li>
      <li>
        <a
          href="/features-and-benefits/"
          class="text-gray-800 dark:text-white hover:text-blue-600 dark:hover:text-blue-500"
          >Features and Benefits</a
        >
      </li>
      <li>
        <a
          href="/blog/"
          class="text-gray-800 dark:text-white hover:text-blue-600 dark:hover:text-blue-500"
          >Blog</a
        >
      </li>
      <li>
        <a
          href="/contact-sales"
          class="text-gray-800 dark:text-white hover:text-blue-600 dark:hover:text-blue-500"
          >Contact Us</a
        >
      </li>
      <li>
        <a
          href="#"
          class="text-white bg-blue-400 px-4 py-2 rounded-md hover:bg-blue-500"
          >Book a Demo</a
        >
      </li>
      <li>
        <a
          href="#"
          class="text-white bg-blue-400 px-4 py-2 rounded-md hover:bg-blue-500"
          >Login</a
        >
      </li>
      <li>
        <button class="moon group rounded-full shadow-lg ring-white/10">
          <i class="fa-solid fa-moon moon"></i>
        </button>
        <button
          class="sun group rounded-full shadow-lg shadow-zinc-800/5 transition border-blue-200"
        >
          <i class="fa-solid fa-sun sun text-zinc-200"></i>
        </button>
      </li>
    </ul>
  </nav>
</header>
